
/*************************
    Navigation styles
**************************/

nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Border added to debug scrolling images below the nav */
  border-bottom: 1px solid #ddd;
}

input {
  width: 50%;
  font-size: 14pt;
  color: #999;
  padding: 10px;
  margin-right: 5px;
  border: 2px solid #ddd;
  border-radius: 5px;
}

input::placeholder {
  color: #ccc;
}

.slideshow {
  position: relative;
  width: 50px;
  padding: 10px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: #3DAC65;
  box-shadow: 0 0 5px 2px rgba(50,50,50,.2);
  transition: all 200ms ease-out;
  display: flex;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 12px 4px rgba(80,80,80,.1);
    transform: scale(1.05);
    #player-detail {
      visibility: visible;
    }
  }
  #player-detail {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 80px;
    padding: 5px 0;
    border-radius: 5px;
    color: white;
    background-color: rgb(150,150,150);
    transition: all 200ms 500ms ease-out;
    visibility: hidden;
    p {
      font-size: .8rem;
    }
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: -5px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      background-color: rgb(150,150,150);
    }
  }
  & > p {
    margin: auto;
    font-size: 14pt;
    color: white;
  }
}