                      /*************************
                            Pop up styles
                      **************************/

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(15px);
  display: none;
}

#big-img {
  width: 95%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (min-width: $mq-md) {
    width: 80%;
    padding: 15px;
    border: 1px solid white;
  }
}

.caption {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  color: white;
  text-align: center;
  @media (min-width: $mq-md) {
    width: 60%;
    max-height: 110px;
  }
}

.arrow {
  visibility: hidden;
  @media (min-width: $mq-md) {
    visibility: visible;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
}

#back {
  transform: rotate(45deg);
  left: 50px;
}

#forw {
  transform: rotate(225deg);
  right: 50px;
}