                        /*************************
                            Image gallery styles
                        **************************/

.gallery {
  width: 90%;
  margin: 120px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 30px;
  justify-content: space-around;
}

.thumbnail {
  width: 200px;
  height: 200px;
  /* margin-bottom: 60px; */
  cursor: pointer;
  margin: auto;
}

.hidden {
  display: none;
}